.unicode-characters-character {
  display: inline-block;
  position: relative;
  transition: background-color 300ms ease-out, color 300ms ease-out;
  margin: 1px;
  margin-bottom: .5em;
  cursor: pointer;
  width: 1.7em;
  height: 1.7em;
  vertical-align: middle;
  text-align: center;
  line-height: 1.7em;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 2rem;

  &:hover {
    background-color: var(--mdc-theme-primary-light);
    color: var(--mdc-theme-text-primary-on-light);
  }

  &__copied {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin-top: .1em;
    background-color: var(--mdc-theme-background);
    text-align: center;
    line-height: 1.3em;
    color: var(--mdc-theme-primary);
    font-family: Roboto, sans-serif;
    font-size: .4em;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
  }
}
