.tilt-shift-generator {
  $drop-zone-placeholder-color: #aaa;
  $drop-zone-border-color: #ccc;
  $drop-zone-border-color-active: #43a047;

  position: relative;

  &__drop-zone {
    margin-top: 2rem;
    border: 2px dashed $drop-zone-border-color;
    min-height: 50vh;

    .tilt-shift-generator--has-image & {
      border-color: transparent;
    }

    &--active,
    .tilt-shift-generator--has-image &--active {
      border-color: $drop-zone-border-color-active;
    }
  }

  &__image {
    display: none;
  }

  &__canvas {
    width: 100%;
  }

  &__placeholder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $drop-zone-placeholder-color;
  }

  &-position,
  &-blur,
  &-distance,
  &-perspective,
  &-zoom {
    display: flex;
    align-items: center;

    &__label {
      width: 13em;
    }

    &__slider {
      flex-grow: 1;
    }
  }
}
