.tilt-shift-url {
  display: flex;

  & > .mdc-text-field {
    flex-grow: 1;
    padding-top: 20px; // workaround for bug with 'fullwidth' property
  }

  & > .mdc-button {
    align-self: flex-end;
    margin-left: 1rem;
  }
}

.tilt-shift-image {
  position: relative;
  margin-top: 2rem;

  & img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  &__content-clear,
  &__content-blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__progress {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms ease-out;
    opacity: 0;
    background: var(--mdc-theme-surface);
    pointer-events: none;

    .tilt-shift-image--loading & {
      opacity: 1;
    }
  }
}
