.unicode-characters-character {
  font-family: sans-serif;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition:
    background-color 300ms ease-out,
    color 300ms ease-out;
  display: inline-block;
  margin: 1px;
  margin-bottom: 0.5em;
  position: relative;
}

.unicode-characters-character:hover {
  background-color: var(--mdc-theme-primary-light);
  color: var(--mdc-theme-text-primary-on-light);
}

.unicode-characters-character::after {
  content: 'Copied!';
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-primary);
  position: absolute;
  font-size: 0.4em;
  font-weight: bold;
  top: 100%;
  text-align: center;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 100ms ease-out;
  pointer-events: none;
  line-height: 1.3em;
  margin-top: 0.1em;
}

.unicode-characters-character.unicode-characters-character--copied::after {
  opacity: 1;
}
