.unicode-characters-list {
  margin-top: 2rem;
}

.unicode-characters-tabs {
  margin-bottom: 3rem;

  & .mdc-tab {
    padding-top: .3em;
    padding-bottom: .3em;
  }
}

.unicode-characters-character {
  display: inline-block;
  position: relative;
  transition: background-color 300ms ease-out, color 300ms ease-out;
  margin: 1px;
  margin-bottom: .5em;
  cursor: pointer;
  width: 1.7em;
  height: 1.7em;
  vertical-align: middle;
  text-align: center;
  line-height: 1.7em;
  font-family: sans-serif;

  &:hover {
    background-color: var(--mdc-theme-primary-light);
    color: var(--mdc-theme-text-primary-on-light);
  }

  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    transition: opacity 100ms ease-out;
    opacity: 0;
    margin-top: .1em;
    background-color: var(--mdc-theme-background);
    text-align: center;
    line-height: 1.3em;
    color: var(--mdc-theme-primary);
    font-size: .4em;
    font-weight: bold;
    content: 'Copied!';
    pointer-events: none;
  }

  &--copied {
    &::after {
      opacity: 1;
    }
  }
}
