.website-screenshot-url {
  display: flex;
}

.website-screenshot-url > .mdc-text-field {
  flex-grow: 1;
  padding-top: 20px; /* workaround for bug with 'fullwidth' property */
}

.website-screenshot-url > .mdc-button {
  margin-left: 1rem;
  align-self: flex-end;
}

.website-screenshot-image {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}

.website-screenshot-image > * {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.website-screenshot-image img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.website-screenshot-image__progress {
  background: #fff;
  transition: opacity 250ms ease-out;
  pointer-events: none;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.website-screenshot-image--loading .website-screenshot-image__progress {
  opacity: 1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.mdc-circular-progress {
  position: relative;
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}

.mdc-circular-progress__path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: var(--mdc-theme-primary);
}
