.password-generator-switches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;

  & > * {
    margin-right: 1.5rem;
    line-height: 3;
  }

  & > :last-child {
    margin-right: 0;
  }

  & .mdc-switch-label {
    padding-left: 1em;
  }
}

.password-generator-clipboard {
  text-align: center;

  & > * {
    display: inline-block;
  }

  &__copied {
    margin-left: 1rem;
    width: 0;
    vertical-align: middle;
    text-align: left;
    color: var(--mdc-theme-primary);
  }
}
