// sass-lint:disable force-element-nesting, force-pseudo-nesting, no-color-literals, no-important

// Workaround for https://github.com/mui-org/material-ui/issues/10000
body {
  padding: 0 !important;
}

// Fixes button icon having margin even without text
.mdc-button .mdc-button__icon:only-child {
  margin-right: 0;
}

// Workaround for https://github.com/jamesmfriedman/rmwc/issues/276
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

// Workaround for toolbar text and link text not using --mdc-theme-on-primary
.mdc-toolbar {
  color: var(--mdc-theme-on-primary, #fff);

  .mdc-toolbar__icon {
    color: inherit;
  }
}
