// sass-lint:disable force-element-nesting, force-pseudo-nesting, no-color-literals

// Workaround for https://github.com/jamesmfriedman/rmwc/issues/276
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

// Workaround for toolbar text and link text not using --mdc-theme-on-primary
.mdc-toolbar {
  color: var(--mdc-theme-on-primary, #fff);

  .mdc-toolbar__icon {
    color: inherit;
  }
}

// Workaround for focused select labels not using --mdc-theme-primary
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label {
  color: var(--mdc-theme-primary, #000);
}
