$green-pink-theme: (
  primary: #4caf50,
  primary-light: #80e27e,
  primary-dark: #087f23,
  secondary: #d81b60,
  secondary-light: #ff5c8d,
  secondary-dark: #a00037
);

$orange-light-blue-theme: (
  primary: #f57c00,
  primary-light: #ffad42,
  primary-dark: #bb4d00,
  secondary: #03a9f4,
  secondary-light: #67daff,
  secondary-dark: #007ac1
);

$deep-purple-yellow-theme: (
  primary: #673ab7,
  primary-light: #9a67ea,
  primary-dark: #320b86,
  secondary: #fdd835,
  secondary-light: #ffff6b,
  secondary-dark: #c6a700,
  on-secondary: #000
);

$teal-red-theme: (
  primary: #009688,
  primary-light: #52c7b8,
  primary-dark: #00675b,
  secondary: #d32f2f,
  secondary-light: #ff6659,
  secondary-dark: #9a0007
);

@function normalized-mdc-theme($theme) {
  $defaults: (
    on-primary: #fff,
    on-secondary: #fff
  );
  @return map-merge($defaults, $theme);
}

@function inverted-mdc-theme($theme) {
  $normalized-theme: normalized-mdc-theme($theme);
  $inverted: (
    primary: map-get($normalized-theme, secondary),
    primary-light: map-get($normalized-theme, secondary-light),
    primary-dark: map-get($normalized-theme, secondary-dark),
    on-primary: map-get($normalized-theme, on-secondary),
    secondary: map-get($normalized-theme, primary),
    secondary-light: map-get($normalized-theme, primary-light),
    secondary-dark: map-get($normalized-theme, primary-dark),
    on-secondary: map-get($normalized-theme, on-primary)
  );
  @return $inverted;
}

@mixin apply-mdc-theme($theme) {
  $normalized-theme: normalized-mdc-theme($theme);
  --mdc-theme-primary: #{map-get($normalized-theme, primary)};
  --mdc-theme-primary-light: #{map-get($normalized-theme, primary-light)};
  --mdc-theme-primary-dark: #{map-get($normalized-theme, primary-dark)};
  --mdc-theme-on-primary: #{map-get($normalized-theme, on-primary)};
  --mdc-theme-secondary: #{map-get($normalized-theme, secondary)};
  --mdc-theme-secondary-light: #{map-get($normalized-theme, secondary-light)};
  --mdc-theme-secondary-dark: #{map-get($normalized-theme, secondary-dark)};
  --mdc-theme-on-secondary: #{map-get($normalized-theme, on-secondary)};
}

$themes-by-path: (
  '/': $green-pink-theme,
  '/url-encoder': inverted-mdc-theme($green-pink-theme),
  '/base64-encoder': $orange-light-blue-theme,
  '/unicode-characters': inverted-mdc-theme($orange-light-blue-theme),
  '/travis-validator': $deep-purple-yellow-theme,
  '/password-generator': inverted-mdc-theme($deep-purple-yellow-theme),
  '/website-screenshot': $teal-red-theme,
  '/tilt-shift': inverted-mdc-theme($teal-red-theme)
);

@each $path, $theme in $themes-by-path {
  [data-path='#{$path}'] {
    @include apply-mdc-theme($theme);
  }
}

.mdc-toolbar--waterfall {
  transition: color 750ms ease-out, background-color 750ms ease-out;

  &.mdc-toolbar--fixed {
    transition: color 750ms ease-out, background-color 750ms ease-out, box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  }
}
