@import './animations';
@import './nav';
@import './themes';
@import './tool';
@import './fixes';

html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}



.app {
  &__root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    display: flex;
    position: relative;
    flex: 1;

    &-main {
      flex: 1 1 auto;
      padding: 2rem;
      overflow-x: hidden;

      .mdc-typography--display1 {
        margin-top: 0;
      }
    }
  }

  &__content-title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .mdc-typography--display1 {
      flex: 1;
    }

    .mdc-button {
      margin-left: 1rem;
      min-width: 36px;
      font-size: 2em;

      i {
        margin-right: 0;
      }
    }
  }
}
